@mixin transform($argument)
	-webkit-transform: $argument
	-moz-transform: $argument
	-ms-transform: $argument
	-o-transform: $argument
	transform: $argument

@mixin prefix($name, $arguments...)
	-webkit-#{$name}: $arguments
	-moz-#{$name}: $arguments
	-ms-#{$name}: $arguments
	-o-#{$name}: $arguments
	#{$name}: $arguments

#cube-container

	$size: 100px
	$border-width: 15px

	position: relative
	display: block
	width: $size
	height: $size
	margin: 0 auto
	cursor: pointer

	+prefix( perspective, 1000px )
	+prefix( transform-style, preserve-3d)

	img
		width: 50px
		position: absolute
		bottom: -15px
		right: -90px
		opacity: 0
		+prefix(transition, opacity 0.5s)
	img.show
		opacity: 1

	.cube

		width: 100%
		height: 100%

		cursor: pointer

		+prefix(transition, box-shadow 2s)
		+prefix(transform-style, preserve-3d)

		&:hover
			cursor: pointer
			.face, .small.face, .inside.face
				border: 1px solid black
				background: none

		.face
			position: absolute
			border-style: solid
			top: 0
			left: 0
			width: $size
			height: $size

			+prefix( transition, border 0.4s, background 0.4s )

		.small.face
			width: $size / 2
			height: $size / 2

		.front, .back
			border-color: #900E14
		.right, .left
			border-color: #C14045
		.top, .bottom
			border-color: #AB2A2E

		.front
			border-right-width: $border-width
			border-bottom-width: $border-width
			+transform( rotateY(  0deg )  translateZ( $size/2 ) )
		.back
			border-left-width: $border-width
			border-bottom-width: $border-width
			+transform( rotateX( 180deg ) translateZ( $size/2 ) )
		.right
			border-color: #C14045
			border-left-width: $border-width
			border-top-width: $border-width
			transform: rotateY(  90deg ) translateZ( $size/2 )
			+transform( rotateY(  90deg ) translateZ( $size/2 ) ) 
		.left 
			border-color: #C14045
			border-left-width: $border-width
			border-bottom-width: $border-width
			+transform( rotateY( -90deg ) translateZ( $size/2 ) )
		.top
			border-right-width: $border-width
			border-top-width: $border-width
			+transform( rotateX(  90deg ) translateZ( $size/2 ) )
		.bottom 
			border-left-width: $border-width
			border-top-width: $border-width
			+transform( rotateX( -90deg ) translateZ( $size/2 ) )

		.inside.front
			+transform( rotateY(  0deg )  translateZ( $size/2 ) translateZ( -$border-width ) )
		.inside.back 
			+transform( rotateX( 180deg ) translateZ( $size/2 ) translateZ( -$border-width ) )
		.inside.bottom
			+transform( rotateX( -90deg ) translateZ( $size/2 ) translateZ( -$border-width ) )
		.inside.top 
			+transform( rotateX(  90deg ) translateZ( $size/2 ) translateZ( -$border-width ) )
		.inside.right
			+transform( rotateY(  90deg ) translateZ( $size/2 ) translateZ( -$border-width ) )
		.inside.left
			+transform( rotateY( -90deg ) translateZ( $size/2 ) translateZ( -$border-width ) )

		.small.right
			background: #C14045
			+transform( rotateY(  90deg ) translateY( $size/4 ) translateZ( $size/2 ) )

		.small.left
			background: #C14045
			+transform( rotateY(  90deg ) translateY( $size/4 ) )

		.small.top
			background: #AB2A2E
			+transform( rotateX( -90deg ) translateX( $size/4 ) )

		.small.bottom
			background: #AB2A2E
			+transform( rotateX( -90deg ) translateX( $size/4 ) translateZ( $size/2 ) )

		.small.front
			background: #900E14
			+transform( rotateX( 180deg ) translateX( $size/4 ) translateY( -$size/4 ) translateZ( -$size/4 ) )

		.small.back
			background: #900E14
			+transform( rotateX( 180deg ) translateX( $size/4 ) translateY( -$size/4 ) translateZ( $size/4 ) )
