html {
  box-sizing: border-box;
  height: 100%; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

b {
  font-weight: bold; }

em {
  font-style: italic; }

u {
  text-decoration: underline; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

body {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cubes.png);
  height: 100%;
  font-family: "fira-sans-2";
  font-weight: 500; }

.centered-outer {
  float: left;
  position: relative;
  left: 50%; }

.centered-inner {
  position: relative;
  left: -50%; }

.background-preloader {
  width: 0;
  height: 0;
  position: absolute;
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png); }

.navigation {
  position: relative;
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  color: black;
  z-index: 1001;
  color: black; }
  .navigation a:hover {
    text-decoration: none; }
  .navigation .pages .page-label, .navigation .pages .external-label {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px; }
    .navigation .pages .page-label.selected, .navigation .pages .external-label.selected {
      color: #C14045; }

.main-wrapper {
  width: 100%;
  padding: 0; }

.main-content {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 100%; }

section {
  padding-top: 50px;
  display: none; }

section.landing .introduction {
  text-align: center;
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.2; }
section.landing .go-down {
  display: block;
  margin: 100px auto 0px;
  cursor: pointer; }
  section.landing .go-down .go-down-image {
    display: block;
    margin: auto;
    width: 55px;
    height: 55px;
    background-image: url(/img/red-arrowsquare-large.png);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
  section.landing .go-down .go-down-title {
    margin-top: 20px;
    text-align: center;
    color: #C14045;
    font-size: 22px; }
section.landing .go-back {
  display: block;
  margin: 0px auto 50px;
  cursor: pointer; }
  section.landing .go-back .go-back-image {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    display: block;
    margin: auto;
    width: 55px;
    height: 55px;
    background-image: url(/img/red-arrowsquare-lighted2.png);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
section.landing .portfolio {
  display: none;
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png);
  padding: 0 40px 40px;
  width: 100%; }
  section.landing .portfolio .project {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 500px;
    margin-top: 20px; }
    section.landing .portfolio .project img {
      display: block;
      width: 100%; }
    section.landing .portfolio .project .description {
      padding: 20px 0px;
      color: #F0F0F0;
      top: 0;
      right: 0;
      width: 100%;
      line-height: 1.2; }
      section.landing .portfolio .project .description .title {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 600; }
      section.landing .portfolio .project .description a {
        color: #666; }
        section.landing .portfolio .project .description a:hover {
          color: #888; }

section.skills {
  padding: 20px 0; }
  section.skills .title {
    font-weight: 600;
    font-size: 22px; }
  section.skills .skill-graph {
    border-spacing: 10px; }
    section.skills .skill-graph .skill {
      display: table-cell;
      vertical-align: middle;
      margin: 15px;
      height: 70px;
      width: 70px;
      border-radius: 35px;
      border: 8px solid black;
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
      text-align: center; }
      section.skills .skill-graph .skill .value, section.skills .skill-graph .skill .bar {
        display: none; }
  section.skills .experiences, section.skills .graphs {
    padding-left: 115px;
    height: 0; }
  section.skills .graphs {
    display: none;
    border-right: 1px solid black;
    padding-right: 30px; }
  section.skills .timeline-with-title {
    padding-bottom: 20px; }
  section.skills .timeline .event {
    position: relative;
    height: 53px;
    background-image: url(/img/timeline-large-black.png);
    background-size: 20px 53px;
    padding-left: 28px;
    padding-top: 17px;
    background-repeat: no-repeat; }
    section.skills .timeline .event:first-of-type {
      background-image: url(/img/timeline-large-top-black.png); }
    section.skills .timeline .event .engagement {
      font-weight: 600; }
      section.skills .timeline .event .engagement .extra-info {
        font-weight: 500; }
    section.skills .timeline .event .period {
      position: absolute;
      top: 17px;
      right: 100%;
      padding-right: 10px;
      white-space: nowrap; }
    section.skills .timeline .event .location {
      margin-top: 3px; }

.contact-box {
  z-index: 1002;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 14px;
  text-align: right; }
  .contact-box .title {
    color: #C14045; }
  .contact-box .title, .contact-box .content {
    display: inline; }
  .contact-box .contact-info {
    margin-left: 20px;
    margin-top: 5px; }

@media (max-width: 650px) {
  .contact-box {
    position: relative; } }

/*# sourceMappingURL=main_rework.css.map */
