html {
  box-sizing: border-box;
  height: 100%; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

b {
  font-weight: bold; }

em {
  font-style: italic; }

u {
  text-decoration: underline; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

body {
  background: #111;
  height: 100%;
  font-family: "fira-sans-2";
  font-weight: bold;
  font-weight: 500; }

.main-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 0 0 0; }

.navigation {
  position: fixed;
  top: 0;
  left: 30px;
  padding: 25px 40px;
  text-align: right;
  font-size: 30px;
  color: black;
  z-index: 1001;
  color: black; }
  .navigation .arrow {
    width: 16px;
    position: fixed; }
  .navigation .pages .page-label {
    opacity: 1;
    margin-top: 25px;
    cursor: pointer; }
    .navigation .pages .page-label:hover {
      opacity: 1; }
    .navigation .pages .page-label.selected {
      opacity: 1;
      color: #9e0b0f; }

.main-content {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background: white;
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cubes.png);
  overflow: auto;
  overflow-x: hidden;
  color: black; }
  .main-content .edge {
    position: absolute;
    top: 0;
    transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 0;
    height: 100%;
    display: none; }
    .main-content .edge .background-cover {
      background: #111;
      background-image: url(/img/cubes-black.png);
      width: 100%;
      height: 100%; }
    .main-content .edge.left {
      left: 0;
      display: none; }
    .main-content .edge.right {
      right: 0; }
    .main-content .edge .ribbon {
      position: absolute;
      top: 0;
      height: 100%;
      width: 7px;
      background-size: 7px auto; }
      .main-content .edge .ribbon.left {
        right: -7px;
        background-image: url(/img/ribbon-left.png); }
      .main-content .edge .ribbon.right {
        left: -7px;
        background-image: url(/img/ribbon-right.png); }
  .main-content.drapery .edge.right {
    width: 50%; }

section {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  color: black;
  padding: 0px 15%; }
  section .divider {
    display: block;
    margin: 70px auto 30px;
    width: 80%;
    max-width: 430px;
    height: 0; }
  section.about .full-name {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px auto 40px;
    visibility: hidden; }
    section.about .full-name img {
      width: 100%; }
    section.about .full-name .swirl, section.about .full-name .background-swirl {
      display: none;
      position: absolute;
      top: -47%;
      right: 2.75%;
      width: 45%;
      overflow: hidden; }
      section.about .full-name .swirl img, section.about .full-name .background-swirl img {
        width: 100%; }
    section.about .full-name .background-swirl {
      opacity: 0.2; }
  section.about .introduction {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 1.2;
    text-align: center; }
    section.about .introduction .city {
      font-weight: normal; }
  section.about .about-box {
    font-size: 16px;
    padding: 20px 35px 35px;
    display: block;
    margin: 0 auto;
    width: 70%;
    min-height: 175px;
    color: black;
    line-height: 1.15; }
    section.about .about-box .title {
      font-family: "Arial Black", Gadget, sans-serif;
      font-weight: bold;
      font-weight: bold;
      margin-bottom: 20px; }
    section.about .about-box .content a {
      color: #9e0b0f; }
    section.about .about-box .quoted::before {
      position: relative;
      font-size: 25px;
      margin-right: 15px;
      float: left; }
  section.contact {
    text-align: center;
    font-size: 18px; }
    section.contact img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 240px;
      margin-bottom: 40px; }
    section.contact .title {
      font-family: "Arial Black", Gadget, sans-serif;
      font-weight: bold;
      margin-bottom: 5px; }
    section.contact .content {
      margin-bottom: 15px; }
  section.projects {
    padding: 0;
    padding-bottom: 20px;
    width: 50%;
    float: right;
    padding-top: 25px;
    color: white; }
    section.projects .project-list .project {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 90%;
      max-width: 700px;
      margin-top: 20px; }
      section.projects .project-list .project img {
        display: block;
        width: 40%; }
      section.projects .project-list .project .description {
        padding: 10px 20px;
        position: absolute;
        color: #F0F0F0;
        top: 0;
        right: 0;
        width: 60%; }
        section.projects .project-list .project .description a {
          color: #666; }
          section.projects .project-list .project .description a:hover {
            color: #888;
            text-decoration: none; }
    section.projects .title {
      font-family: "Arial Black", Gadget, sans-serif;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px; }
  section.skills {
    padding: 60px 10%;
    width: calc( 100% - 300px );
    float: right;
    color: black; }
    section.skills .title {
      font-family: "Arial Black", Gadget, sans-serif;
      font-weight: bold;
      font-size: 18px; }
    section.skills .skill-graph {
      margin-top: 15px;
      margin-bottom: 40px;
      position: relative;
      border-left: 4px solid black;
      line-height: 0;
      width: 0;
      white-space: nowrap; }
      section.skills .skill-graph .skill {
        padding: 0;
        margin-top: 5px; }
        section.skills .skill-graph .skill .label, section.skills .skill-graph .skill .bar, section.skills .skill-graph .skill .value {
          display: inline-block;
          vertical-align: middle; }
        section.skills .skill-graph .skill .label {
          line-height: 1;
          position: absolute;
          right: 100%;
          padding-right: 15px;
          white-space: nowrap; }
        section.skills .skill-graph .skill .bar {
          height: 15px;
          background: black; }
        section.skills .skill-graph .skill .value {
          padding-left: 10px;
          color: #999; }
    section.skills .experiences, section.skills .graphs {
      padding-left: 85px; }
    section.skills .timeline .event {
      position: relative;
      height: 53px;
      background-image: url(/img/timeline-large-black.png);
      background-size: 20px 53px;
      padding-left: 28px;
      padding-top: 17px;
      background-repeat: no-repeat; }
      section.skills .timeline .event:first-of-type {
        background-image: url(/img/timeline-large-top-black.png); }
      section.skills .timeline .event .engagement {
        font-weight: 600; }
        section.skills .timeline .event .engagement .extra-info {
          font-weight: 500; }
      section.skills .timeline .event .period {
        position: absolute;
        top: 17px;
        right: 100%;
        padding-right: 10px;
        white-space: nowrap; }
      section.skills .timeline .event .location {
        margin-top: 3px; }

@media (min-width: 1360px) {
  .navigation {
    left: calc( 50% - 650px ); }

  .main-content {
    width: 1300px; } }
@media (max-width: 4050px) {
  .responsive-centered-outer {
    float: left;
    position: relative;
    left: 50%; }

  .responsive-centered-inner {
    position: relative;
    left: -50%; }

  .navigation {
    position: relative;
    padding: 0 30px;
    left: 0;
    text-align: center; }
    .navigation .arrow {
      display: none; }
    .navigation .page-label {
      display: inline-block;
      margin-right: 20px; }

  .main-content .edge {
    transition: width 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .main-content.drapery .edge.right, .main-content.drapery .edge.left {
    width: 51%; }
  .main-content.drapery .page-label {
    opacity: 0.5; }

  section.about .about-box {
    width: 80%; }

  section.projects, section.skills {
    width: 100%; }
    section.projects .project-list .project, section.skills .project-list .project {
      width: 80%;
      max-width: 500px; }
      section.projects .project-list .project img, section.skills .project-list .project img {
        width: 100%; }
      section.projects .project-list .project .description, section.skills .project-list .project .description {
        padding: 15px 0;
        position: relative;
        width: 100%; } }
@media (max-width: 500px) {
  .main-wrapper {
    padding: 0; }

  .navigation {
    left: 0; }

  section {
    padding: 30px 10%; }

  section.about .about-box {
    width: 100%; }

  section.skills .timeline .event {
    height: 67px;
    background-image: url(/img/timeline-long.png);
    background-size: 20px 67px; }
    section.skills .timeline .event:first-of-type {
      background-image: url(/img/timeline-long-top.png); }

  .main-content .edge.left {
    left: -7px; }
  .main-content .edge.right {
    right: -7px; }
  .main-content.drapery .edge.left {
    left: 0px; }
  .main-content.drapery .edge.right {
    right: 0px; } }

/*# sourceMappingURL=main.css.map */
