
$scheme-red: #ab111a

$nav-height: 80px

@mixin stretch
	width: 100%
	height: 100%

@mixin horizontal-center
	display: block
	margin: 0 auto

html
	box-sizing: border-box
	*, *:before, *:after
		box-sizing: inherit
	height: 100%

b
	font-weight: bold
em
	font-style: italic
u
	text-decoration: underline
a
	text-decoration: none
	color: inherit
	&:hover
		text-decoration: underline

body
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cubes.png)
	height: 100%
	font-family: "fira-sans-2"
	font-weight: 500

.background-preloader
	width: 0
	height: 0
	opacity: 0
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png)


.navigation
	position: relative
	width: 100%
	padding-top: 25px
	height: $nav-height
	text-align: center
	font-size: 30px
	color: black
	z-index: 1001
	color: black

	.pages

		.page-label
			display: inline
			opacity: 1
			cursor: pointer
			margin-left: 20px
			//transition: 0.33s
			&:hover
				opacity: 1
			&.selected
				opacity: 1
				color: $scheme-red

.main-wrapper
	width: 100%
	padding: 0

.main-content
	position: relative
	display: block // margin: auto only centers block elements
	margin: 0 auto
	height: 100%


section
	padding-top: 30px
	display: none

section.landing

	.introduction

		text-align: center
		margin-top: 80px
		font-size: 25px
		line-height: 1.2

	.go-down
		display: block
		margin: 100px auto 0px
		cursor: pointer

		.go-down-image 
			$width: 55px
			display: block
			margin: auto
			width: $width
			height: $width
			background-image: url(/img/red-arrowsquare-large.png)
			background-position: center center
			background-size: 100% auto
			background-repeat: no-repeat

		.go-down-title 
			margin-top: 20px
			text-align: center
			color: $scheme-red
			font-size: 22px

	.go-back
		display: block
		margin: 0px auto 50px
		cursor: pointer

		.go-back-image 
			transform: scaleY(-1)
			-webkit-transform: scaleY(-1)
			$width: 55px
			display: block
			margin: auto
			width: $width
			height: $width
			background-image: url(/img/red-arrowsquare-lighted2.png)
			background-position: center center
			background-size: 100% auto
			background-repeat: no-repeat

	.portfolio
		display: none
		background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png)
		padding: 0 40px 40px
		width: 100%

		.project
			display: block
			margin: 0 auto
			position: relative
			width: 90%
			max-width: 500px
			margin-top: 20px
			img
				display: block
				width: 100%
			.description
				padding: 20px 0px
				//position: absolute
				color: #F0F0F0
				top: 0
				right: 0
				width: 100%
				line-height: 1.2

				.title
					font-size: 22px
					margin-bottom: 10px
					font-weight: 600
					//color: darken(#0099ff, 0)

				a
					color: #666 //darken(#0099ff, 25)
					&:hover
						color: #888
						text-decoration: none











