
$scheme-red: #C14045 //#AB2A2E //#9e0b0f

@mixin stretch
	width: 100%
	height: 100%

@mixin horizontal-center
	display: block
	margin: 0 auto

html
	box-sizing: border-box
	*, *:before, *:after
		box-sizing: inherit
	height: 100%

b
	font-weight: bold
em
	font-style: italic
u
	text-decoration: underline
a
	text-decoration: none
	color: inherit
	&:hover
		text-decoration: underline

body
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cubes.png)
	height: 100%
	font-family: "fira-sans-2"
	font-weight: 500

.centered-outer 
	float: left
	position: relative
	left: 50%
.centered-inner
	position: relative
	left: -50%

.background-preloader
	width: 0
	height: 0
	position: absolute
	background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png)


.navigation
	position: relative
	width: 100%
	padding: 25px
	text-align: center
	font-size: 30px
	color: black
	z-index: 1001
	color: black

	a:hover
		text-decoration: none

	.pages

		.page-label, .external-label
			display: inline-block
			cursor: pointer
			margin-left: 20px
			margin-top: 10px
			//padding-top: 20px
			&:hover
				//color: #0099ff
			&.selected
				color: $scheme-red

.main-wrapper
	width: 100%
	padding: 0

.main-content
	position: relative
	display: block // margin: auto only centers block elements
	margin: 0 auto
	height: 100%


section
	padding-top: 50px
	display: none

section.landing

	.introduction

		text-align: center
		margin-top: 0px
		font-size: 25px
		line-height: 1.2

	.go-down
		display: block
		margin: 100px auto 0px
		cursor: pointer

		.go-down-image 
			$width: 55px
			display: block
			margin: auto
			width: $width
			height: $width
			background-image: url(/img/red-arrowsquare-large.png)
			background-position: center center
			background-size: 100% auto
			background-repeat: no-repeat

		.go-down-title 
			margin-top: 20px
			text-align: center
			color: $scheme-red
			font-size: 22px

		&:hover .go-down-image
			//background-image: url(/img/red-arrowhead-large.png)

	.go-back
		display: block
		margin: 0px auto 50px
		cursor: pointer

		.go-back-image 
			transform: scaleY(-1)
			-webkit-transform: scaleY(-1)
			$width: 55px
			display: block
			margin: auto
			width: $width
			height: $width
			background-image: url(/img/red-arrowsquare-lighted2.png)
			background-position: center center
			background-size: 100% auto
			background-repeat: no-repeat

	.portfolio
		display: none
		background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/broken_noise.png)
		padding: 0 40px 40px
		width: 100%

		.project
			display: block
			margin: 0 auto
			position: relative
			width: 90%
			max-width: 500px
			margin-top: 20px
			img
				display: block
				width: 100%
			.description
				padding: 20px 0px
				//position: absolute
				color: #F0F0F0
				top: 0
				right: 0
				width: 100%
				line-height: 1.2

				.title
					font-size: 22px
					margin-bottom: 10px
					font-weight: 600
					//color: darken(#0099ff, 0)

				a
					color: #666 //darken(#0099ff, 25)
					&:hover
						color: #888

section.skills
	
	padding: 20px 0

	.title 
		font-weight: 600
		font-size: 22px

	.skill-graph

		border-spacing: 10px

		.skill
			display: table-cell
			vertical-align: middle
			margin: 15px
			height: 70px
			width: 70px
			border-radius: 35px
			border: 8px solid black
			padding: 5px
			font-size: 14px
			font-weight: 600
			text-align: center

			.label

			.value, .bar
				display: none


	.experiences, .graphs
		padding-left: 115px
		//float: left
		height: 0

	.graphs
		display: none
		border-right: 1px solid black
		padding-right: 30px


	.timeline-with-title
		padding-bottom: 20px
	
	.timeline
		.event
			position: relative
			height: 53px
			background-image: url(/img/timeline-large-black.png)
			&:first-of-type
				background-image: url(/img/timeline-large-top-black.png)  // Dimensions: |--30px--( 40px )--36px--|
			background-size: 20px 53px
			padding-left: 28px
			padding-top: 17px
			background-repeat: no-repeat

			.engagement 
				font-weight: 600
				.extra-info
					font-weight: 500

			.period
				//font-weight: bold
				position: absolute
				top: 17px
				right: 100%
				padding-right: 10px
				white-space: nowrap

			.location
				margin-top: 3px


.contact-box
	z-index: 1002
	position: absolute
	top: 5px
	right: 15px
	font-size: 14px
	text-align: right
	//color: $scheme-red
	.title
		color: $scheme-red //#0099ff
	.title, .content
		display: inline
	.contact-info
		margin-left: 20px
		margin-top: 5px


@media (max-width: 650px )
	.contact-box
		position: relative






