body {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: black;
    /*background-image: repeating-conic-gradient(#111 0 9deg, #222 9deg 18deg);*/
    margin: 0;
}

#main-canvas {
    height: 100%;
    /*background: black;*/
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    /*border-left: 1px solid black;*/
    cursor: grab;
}

#main-canvas:active:hover {
    cursor: grabbing;
}

@-webkit-keyframes tux-loading-indicator-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes tux-loading-indicator-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#loading-message {
	height: 25vmax;
	width: 25vmax;
    position: fixed;
    text-align: center;
}

#loading-message span {
    display: block;
    width: 100%;
	color: white;
    font-size: 1.5vmax;
    margin-top: 1.5vmax;
    margin-bottom: 0vmax;
    font-family: 'Courier New', Courier, monospace;
}

#loading-message span#loading-dots {
    margin-top: 0vmax;
    margin-bottom: 1.5vmax;
}

#loading-icon {
	background: transparent url(loading.gif) right bottom no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(loading.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(loading.svg);
	background-image: linear-gradient(transparent, transparent), url(loading.svg);
	background-size: 100%;
	-webkit-animation-name: tux-loading-indicator-spin;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: tux-loading-indicator-spin;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height: 15vmax;
	width: 15vmax;
    margin-left: 5vmax;
    /*position: fixed;*/
	backface-visibility: hidden;
}


.hidden { display: none; }

.dg .close-button, .dg .info-button {
    background: #51A0D1 !important;
    color: white !important;
    text-shadow: none !important;
    font-weight: bold !important;
}

.dg .info-button {
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.dg .info-button::after {
    content: "Close Info ▲";
}

.dg .info-button.collapsed::after {
    content: "Open Info ▼";
}

.dg .close-button::after {
    content: " ▲";
}

.dg .close-button.collapsed::after {
    content: " ▼";
}

.dg .close-button.collapsed {
    border-bottom: 4px solid #1A1A1A;
}

.info {
    background: #1A1A1A;
    padding: 10px 20px;
    font-size: 13px;
}

.info.collapsed {
    display: none;
}